$body-color: red;

body {
	font-size: responsive;
	text-align: center;
	display: grid;
	transition: all 0.5s;
	user-select: none;
	background-color: $body-color;

	img {
		max-width: 100%;
	}

	ul {
		display: flex;
		li {
			margin-right: 30px;
		}
	}
}
